venv/
__pycache__/
*.pyc

instance/
database/

*.db
*.sqlite3

.vscode/
.idea/

.env

data/temp/
data/raw/

python
testes/
teste_playwright.py

data/injury_history/

data/cbr_nba_cases.csv
data/cbr_nba_cases_realistas.csv

build_*.py
nba_*scraper.py

*.pkl.old

*.log
.DS_Store